<div class="cover">
    {{#if @site.cover_image}}
        <img class="cover-image u-object-fit" src="{{@site.cover_image}}" alt="{{@site.title}}">
    {{/if}}

    <div class="cover-content container">
        {{#if @site.description}}
            <div class="cover-description">{{@site.description}}</div>
        {{/if}}

        {{#if @labs.members}}
            {{#unless @member}}
                <div class="form-wrapper cover-form">
                    <input class="auth-email" type="email" data-members-email placeholder="Your email address" required="true" autocomplete="false">
                    <button class="form-button" type="submit" aria-label="Submit">
                        Subscribe
                        <svg class="icon icon-loading"><use xlink:href="#loader"></use></svg>
                    </button>
                </div>
            {{/unless}}
        {{/if}}
    </div>

    <button class="button-icon cover-arrow">
        <svg class="icon"><use xlink:href="#chevron-right"></use></svg>
    </button>
</div>