<div class="cover{{#if @site.cover_image}} image-loading{{/if}}">
    {{#if @site.cover_image}}
        <img class="cover-image u-object-fit" src="{{@site.cover_image}}" alt="{{@site.title}}">
    {{/if}}

    <div class="cover-content container">
        {{#if @site.description}}
            <div class="cover-description">{{@site.description}}</div>
        {{/if}}

        {{#unless @member}}
			<a class="form-wrapper button cover-form" href="https://app.wedreadz.fr/booking" style="
				background-color: var(--black-color);
				color: var(--lighter-gray-color);
				border-radius: 36px;
				border-color: var(--link-color);
			">Réserver maintenant</a>
        {{/unless}}
    </div>

    <button class="button-icon cover-arrow">
        {{> icons/chevron-right}}
    </button>
</div>