<div class="cover{{#if @site.cover_image}} image-loading{{/if}}">
    {{#if @site.cover_image}}
        <img class="cover-image u-object-fit" src="{{@site.cover_image}}" alt="{{@site.title}}">
    {{/if}}

    <div class="cover-content container">
        {{#if @site.description}}
            <div class="cover-description">{{@site.description}}</div>
        {{/if}}

        {{#unless @member}}
            <form class="form-wrapper cover-form" data-members-form>
                <input class="auth-email" type="email" data-members-email placeholder="Your email address" required="true" autocomplete="false">

                <button class="form-button" type="submit" aria-label="Submit">
                    <span class="default">Subscribe</span>
                    <span class="loader">{{> icons/loader}}</span>
                    <span class="success">Email sent</span>
                </button>
            </form>
        {{/unless}}
    </div>

    <button class="button-icon cover-arrow">
        {{> icons/chevron-right}}
    </button>
</div>