<section class="notations container">
	<div class="comment">
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco.</p>
	</div>
	<div class="comment">
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco.</p>
	</div>
	<div class="comment">
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco.</p>
	</div>
</section>