<section class="notations container">
	<div class="notation">
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		<p>Super résultat. Reprise au crochet impeccalbe et le coiffeur a été de bon conseil.</p>
		<p class="notation-context">Clara - Oct. 2021</p>
	</div>
	<div class="notation">
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		<p>Mon fils est satisfait. La coiffeuse est très douée avec les enfants !</p>
		<p class="notation-context">Océane - Nov. 2021</p>
	</div>
	<div class="notation">
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		<p>Le démarrage de mes locks est bien fait. Racines bien dessinées et pile l'épaisseur que j'imaginais.</p>
		<p class="notation-context">Alexandre - Nov. 2021</p>
	</div>
</section>