<section class="notations container">
	<div class="notation">
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		<p>Prise de Rdv rapide , équipe de passionnée , merci beaucoup WeDreadz</p>
		<p class="notation-context">Kimia Del Ombre</p>
	</div>
	<div class="notation">
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		<p>Super résultat. Reprise au crochet impeccable et sans douleur !<br>Le coiffeur a été de bon conseil, un excellent service pour la communauté !
		</p>
		<p class="notation-context">Léa Bouvet</p>
	</div>
	<div class="notation">
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		<p>Outre le rapport qualité-prix qui était assez correct, le professionnalisme des coiffeurs était au rdv. Je recommande</p>
		<p class="notation-context">Ivan K</p>
	</div>
</section>