<section class="notations container">
	<div class="notation">
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		<p>Prise de Rdv rapide , équipe de passionnée , merci beaucoup WeDreadz</p>
		<p class="notation-context">Kimia Del Ombre - Fév. 2022</p>
	</div>
	<div class="notation">
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		<p>Super résultat. Reprise au crochet impeccable et sans douleur !
			Le coiffeur a été de bon conseil, un excellent service pour la communauté !
		</p>
		<p class="notation-context">Léa Bouvet - Jan. 2022</p>
	</div>
	<div class="notation">
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		<p></p>
		<p class="notation-context">Clément Duveau - Jan. 2022</p>
	</div>
</section>