<section class="notations container">
	<div class="notation">
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		<p>Super expérience. Le coiffeur m'a fait une reprise des racines impeccables et a été de très bon conseil pour la suite.</p>
		<p class="notation-context">Laurie - Oct. 2021</p>
	</div>
	<div class="notation">
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		<p>Rendez-vous pris pour mon fils. Coiffeuse attentive avec les enfants et super résultat !</p>
		<p class="notation-context">Leïlie - Sep. 2021</p>
	</div>
	<div class="notation">
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		{{> icons/star}}
		<p>Je ne suis pas déçu de mon démarrage. Mes dreadlocks sont bien dessinées et de tailles parfaitement égales.</p>
		<p class="notation-context">Timothée - Juill. 2021</p>
	</div>
</section>