<nav class="pagination">
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}"></a>
    {{/if}}
</nav>
<div class="infinite-scroll-action">
    <button class="button button-secondary infinite-scroll-button">
        <span class="label">Load more</span>
        <span class="loader">{{> icons/loader}}</span>
    </button>
</div>