<div class="gh-portal-triggerbtn-iframe" style="z-index: 3999998; position: fixed; bottom: 0px; right: 0px; max-width: 200px; height: 98px; animation: 250ms ease 0s 1 normal none running animation-bhegco; transition: opacity 0.3s ease 0s; overflow: hidden;">
	<div id="phone-btn-container" style="display: inline-flex; align-items: flex-start; justify-content: flex-end; height: 100%; opacity: 1; transition: transform 0.16s linear 0s; opacity 0.08s linear 0s; user-select: none; line-height: 1; padding: 10px 28px 0 17px;">
		<a href="https://www.wedreadz.fr/faq-centre-daide/" id="phone-btn" style="position: relative; cursor: pointer; display: flex; align-items: center; justify-content: center; background: var(--brandcolor); height: 60px; min-width: 60px; box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 16px -2px; border-radius: 999px; transition: opacity 0.3s ease; padding: 0 12px 0 16px; background-color: #000">
			<span style="padding: 8px; color: rgb(255, 255, 255); display: block; white-space: nowrap; max-width: 380px; overflow: hidden; text-overflow: ellipsis;">Centre d'aide</span>
		</a>
	</div>
</div>