<section class="services container">
	<a class="service service-creation" href="https://app.wedreadz.fr/">
		<span class="service-title">Départ de locks</span>
		<span class="service-price">à partir de 99,90€</span>
	</a>
	<a class="service service-entretien" href="https://app.wedreadz.fr/">
		<span class="service-title">Entretien des racines</span>
		<span class="service-price">à partir de 59,90€</span>
	</a>
	<a class="service service-soin" href="https://app.wedreadz.fr/">
		<span class="service-title">Soins et réparations</span>
		<span class="service-price">à partir de 19,90€</span>
	</a>
</section>