.kg-gallery-image {
    cursor: pointer;
}

.kg-image {
    margin-right: auto;
    margin-left: auto;
}

.kg-embed-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.kg-card.kg-toggle-card .kg-toggle-heading-text {
    font-size: 1.8rem;
    font-weight: 700;
}

.has-serif-title .kg-toggle-heading-text {
    font-family: var(--font-serif);
}

.kg-card.kg-button-card a.kg-btn {
    font-size: 1.5rem;
}

.kg-callout-card-accent a {
    text-decoration: underline;
}

blockquote.kg-blockquote-alt {
    font-style: normal;
    font-weight: 700;
    line-height: 1.6;
    color: var(--secondary-text-color);
}

.kg-card.kg-header-card h2.kg-header-card-header {
    letter-spacing: -0.02em;
}

.kg-header-card h2.kg-header-card-header strong {
    letter-spacing: -0.015em;
}

.has-serif-title .kg-card.kg-header-card h2.kg-header-card-header {
    font-family: var(--font-serif);
    letter-spacing: -0.01em;
}

.has-serif-body .kg-header-card h3.kg-header-card-subheader {
    font-family: var(--font-serif);
}

.kg-canvas {
    display: grid;
    grid-template-columns:
        [full-start]
        minmax(5vw, auto)
        [wide-start]
        minmax(auto, 100px)
        [main-start]
        min(720px, calc(100% - 10vw))
        [main-end]
        minmax(auto, 100px)
        [wide-end]
        minmax(5vw, auto)
        [full-end];
}

.kg-canvas > * {
    grid-column: main-start/main-end;
}

.kg-width-wide {
    grid-column: wide-start/wide-end;
}

.kg-width-full {
    grid-column: full-start/full-end;
}
