{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{> "feed-header"}}

        <div class="post-feed expanded container medium">
            {{^unless @member}}
                {{#foreach posts}}
                    {{> "loop"}}
                {{/foreach}}
            {{else}}
                {{#foreach posts}}
                    {{> "loop"}}
                {{/foreach}}
            {{/unless}}
        </div>

        {{pagination}}
    </main>
</div>

{{#contentFor "body_class"}}{{#if next}} paged-next{{/if}}{{#if @site.cover_image}}{{#if @member}} with-alt-header{{else}} with-full-cover{{/if}}{{/if}}{{#if @member}} logged-in{{/if}}{{/contentFor}}
