{{!< default}}

<div class="content-area">
    <main class="site-main">
        <header class="feed-header container medium">
            <div class="feed-header-wrapper">
                <h2 class="feed-header-title">Latest</h2>
                {{#match @custom.post_feed_style "=" "Both"}}
                    <div class="feed-layout expanded">
                        <button class="button-icon feed-layout-headline">{{> icons/list-headline}}</button>
                        <button class="button-icon feed-layout-expanded">{{> icons/list-bullet}}</button>
                    </div>
                {{/match}}
            </div>
        </header>

        <div class="post-feed {{#match @custom.post_feed_style "!=" "Minimal"}}expanded{{/match}} container medium">
            {{^unless @member}}
                {{#foreach posts}}
                    {{> "loop"}}
                {{/foreach}}
            {{else}}
                {{#foreach posts}}
                    {{> "loop"}}
                {{/foreach}}
            {{/unless}}
        </div>

        {{pagination}}
    </main>
</div>

{{#contentFor "body_class"}}{{#if next}} paged-next{{/if}}{{#match @custom.cover_style "=" "Full cover image"}}{{#if @member}} with-alt-header{{else}} with-full-cover{{/if}}{{/match}}{{#if @member}} logged-in{{/if}}{{/contentFor}}