{{!< default}}

<main class="site-main">

    {{#post}}
        {{> "content" width="wide"}}
    {{/post}}

    {{#is "post"}}
        {{> "comment"}}
        {{#if @custom.show_related_posts}}
            {{> "related-posts"}}
        {{/if}}
    {{/is}}

</main>