.cover {
    margin-top: 9vmin;
}

.with-full-cover .cover {
    position: relative;
    display: flex;
    overflow: hidden;
    margin-top: calc(var(--navbar-height) * -1);
    height: 100vh;
}

.with-full-cover .cover::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: #000;
    opacity: 0.3;
    transition: opacity 1.5s ease;
}

.cover.image-loading::before {
    opacity: 1;
}

.cover-image {
    transition: transform 2s ease;
}

.cover.image-loading .cover-image {
    transform: scale(1.02);
}

.cover-content {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: calc(720px + 8vw);
    text-align: center;
}

.with-full-cover .cover-content {
    transform: translateY(-6vmin);
}

.cover-description {
    font-size: 3.5rem;
    line-height: 1.3;
    font-weight: 700;
}

.with-full-cover .cover-description {
    color: #fff;
}

.cover-cta {
    display: flex;
    margin-top: 2rem;
}

.cover-cta .button {
    margin: 0 0.5rem;
}

.cover-form {
    margin-top: 4.5rem;
    max-width: 500px;
    width: 100%;
}

.cover-form input {
    height: 50px;
}

.with-full-cover .cover-form input {
    border-color: #e6e6e6;
    background-color: #fff;
}

.cover-form .form-button {
    min-width: 110px;
}

.cover-arrow {
    position: absolute;
    bottom: 40px;
    left: 50%;
    z-index: 10;
    margin-left: -20px;
    width: 40px;
    height: 40px;
}

.cover-arrow .icon {
    width: 40px;
    height: 40px;
    color: #fff;
    transform: rotate(90deg);
}

@media (max-width: 767px) {
    .cover-description {
        font-size: 2.7rem;
    }
}

@media (max-width: 991px) {
    .menu-opened .cover {
        margin-top: 0;
    }
}
