.site-footer {
    padding-top: 4.5rem;
    padding-bottom: 6rem;
}

.footer-inner {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding-top: 1.5rem;
    border-top: 1px solid var(--lighter-gray-color);
}

.footer-left {
    display: flex;
    align-items: center;
}

.social {
    display: flex;
    align-items: center;
}

.social-item {
    color: var(--secondary-text-color);
    line-height: 0;
}

.social-item + .social-item {
    margin-left: 11px;
}

.social-item + .social-item-rss {
    margin-left: 10px;
}

.social-item .icon {
    width: 14px;
    height: 14px;
    fill: currentColor;
}

.social-item-rss .icon {
    width: 15px;
    height: 15px;
}

.copyright {
    color: var(--secondary-text-color);
    font-size: 1.2rem;
    letter-spacing: -0.02rem;
}

.copyright a {
    color: var(--secondary-text-color);
}

.copyright a:hover {
    text-decoration: underline;
    opacity: 1;
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer-nav .menu-item {
    display: flex;
    align-items: center;
    margin: 0;
    color: var(--secondary-text-color);
    font-size: 1.2rem;
    font-weight: 400;
}

.footer-nav .menu-item + .menu-item::before {
    content: "\02022";
    padding: 0 0.7rem;
    font-size: 1rem;
    line-height: 1;
}

.footer-nav .menu-item:hover {
    opacity: 1;
}

.footer-nav .menu-item.copyright {
    display: inline;
}

.theme-icon {
    width: 1.1rem;
    height: 1.1rem;
}

.theme-text {
    margin-left: 0.3rem;
}

.theme-icon-dark,
.theme-icon-light {
    display: none;
}

.theme-dark .theme-icon-system,
.theme-dark .theme-icon-light {
    display: none;
}

.theme-dark .theme-icon-dark {
    display: block;
}

.theme-light .theme-icon-system,
.theme-light .theme-icon-dark {
    display: none;
}

.theme-light .theme-icon-light {
    display: block;
}

.footer-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media (max-width: 767px) {
    .footer-inner {
        grid-template-columns: 1fr;
        padding-top: 3rem;
    }

    .footer-left,
    .footer-right {
        justify-content: center;
    }

    .footer-left {
        order: 3;
        margin-top: 3rem;
    }

    .footer-nav {
        order: 2;
        margin-top: 1.5rem;
    }

    .footer-right {
        order: 1;
    }
}
