.full-cta {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 90;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    background-color: var(--white-color);
    transition: opacity 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hidden-full-cta .full-cta {
    opacity: 0;
    pointer-events: none;
}

.full-cta-left {
    position: relative;
}

.full-cta-content {
    margin: 0 auto;
    padding: 12rem 6rem 9rem;
    max-width: 650px;
    height: 100%;
    text-align: center;
}

.full-cta-icon {
    margin: 0 auto 4rem;
    max-width: 150px;
}

.full-cta-title {
    margin-bottom: 1rem;
    font-size: 3rem;
    letter-spacing: -0.04rem;
}

.full-cta-description {
    font-size: 1.7rem;
}

.full-cta .form-wrapper {
    margin-top: 4.5rem;
}

.full-cta-read {
    display: inline-flex;
    align-items: center;
    margin-top: 3rem;
    font-size: 1.6rem;
}

.full-cta-read .icon {
    margin-left: 0.1rem;
    color: var(--secondary-text-color);
}

.full-cta-login {
    position: absolute;
    top: 25px;
    right: 30px;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
}
