.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex-grow: 1;
    padding: 6vmin 0;
}

.is-head-brand .site-content {
    padding-top: max(8vmin, 5rem);
}
