.tag-feed {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    margin-top: 3rem;
}

.tag-feed-inner {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    height: 100%;
    border: 1px solid var(--light-gray-color);
    border-radius: 5px;
}

.tag-feed-inner:hover {
    border-color: var(--mid-gray-color);
    opacity: 1;
}

.tag-feed-wrapper {
    flex-grow: 1;
}

.tag-feed-image {
    margin-bottom: 2rem;
    width: 90px;
}

.tag-feed-title {
    margin-bottom: 0.7rem;
    font-size: 1.7rem;
}

.tag-feed-description {
    font-size: 1.5rem;
    line-height: 1.5;
}

.tag-feed-more {
    display: inline-block;
    margin-top: 2rem;
    color: var(--brand-color);
    font-size: 1.4rem;
    font-weight: 700;
}
