.comment {
    margin: 1rem 0 0 0;
    border: 1px solid var(--light-gray-color);
    border-radius: 3px;
    padding: 10px 0 0 10px;
}

.comment > icon {
    fill: var(--dark-gray-color);
    margin-bottom: 10px;
}

.comment > p {
    margin: 0 0 1rem;
}

@media (min-width: 767px) {
	.comment {
		margin: 1.5rem 1rem 0;
	}
}

@media (min-width: 991px) {
	.notations {
		display: inline-flex;
	}
	.comment {
		margin: 3rem 1rem 0;
	}
}