.featured-wrapper {
    margin-top: 3rem;
    padding-top: 6vmin;
}

.featured-wrapper .post {
    position: relative;
}

.featured-wrapper .u-placeholder {
    margin-bottom: 3rem;
}

.featured-wrapper .post-title {
    margin-bottom: 0;
    font-size: 1.8rem;
    font-weight: 700;
}

.featured-title {
    margin-bottom: 4.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--light-gray-color);
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

.featured-feed {
    opacity: 0;
}

.featured-feed.tns-slider {
    opacity: 1;
}
