.tag {
    margin-bottom: 4.5rem;
    text-align: center;
}

.tag-media {
    margin: 0 auto 3rem;
    width: 90px;
}

.tag-name {
    margin-bottom: 0;
    font-size: 2.6rem;
}

.tag-name::before {
    content: "#";
}

.tag-description {
    margin: 1.2rem auto 0;
    max-width: 500px;
    color: var(--secondary-text-color);
    font-size: 1.6rem;
}

@media (max-width: 767px) {
    .tag {
        margin-bottom: 2.5rem;
    }
}
